
.navl{
    position: fixed;
    top: 0;
    width: 100%;
     background-color: rgb(150, 33, 33);
     z-index: 10;
     margin-bottom: 100em;
}
body{
  margin:0;

}
h1{
  margin: auto;
  width:fit-content;
  background-color: rgba(255,255,255,0.3);
}
h2{
  margin: auto;
  width:fit-content;
  background-color: rgba(255,255,255,0.3);

}
p{
  margin: auto;
  width:fit-content;
  background-color: rgba(255,255,255,0.3);
}
ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.borderp
{
margin: -2%;
padding: 2%;
border-top:5px solid black;
}
form{
  background-color: rgba(255,255,255,0.3);

  width:wrap-content ;
  height: max-content;
  width:max-content;
  padding:2%;
  margin:auto;

}
.mainBackground{
     background-image:url('images/background1.jpg');
    /* background-color: green;*/
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 200vh;
}
.locationBackground
{
  background-image:url('images/background location.jpg');
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 200vh;
}
.backStil{

}

.window{
     position:relative;
     top:50%;
     width:80%;
     margin:auto;
     text-align: center;
}
.window2{
  position:relative;
     top:10%;
     width:80%;
     margin:auto;
     text-align: center;
}


.loc{

}
.logout{
  background-color: rgba(16,16,16,0.3);

  width:wrap-content ;
  height: max-content;
  width:max-content;
  padding:2%;
  margin:auto;

}
a{
    height: max-content;
    width:max-content;
}
.smallink{
  background: black;
padding: 5px;
width: 10%;
height:10%;
margin-top: 10px;
line-height: 150px;
color: white;
font-weight: bold;
font-size: 3em;
text-align: center;

}
.navbar{

}
.account{
  float:right;
}
